<h4 class="mt-4">{{tittle}}</h4>
<div class="col-md-auto">
    <button (click)="new()" type="submit" class="btn btn-success">
        <i-bs name="person-plus-fill" width="20" height="20">
        </i-bs>
        Adicionar Disciplina</button>
</div>
<hr>
<!-- <ul>
    <li *ngFor="let student of students">{{student.name}}</li>
</ul> -->

<div *ngIf="selectedDiscipline && !showGrades">
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Id: {{selectedDiscipline.id}}</h6>

        <form [formGroup]="disciplineForm" (submit)="save()">
            <div class="mb-3  mt-3">
                <label for="exampleInputEmail1" class="form-label">Nome</label>
                <input type="text" class="form-control" formControlName="name" id="name">
            </div>

            <div class="row paper">
                <div class="col-md-auto">
                    <button (click)="back()" class="btn btn-secondary">
                        <i-bs name="arrow-left-circle-fill" width="20" height="20">
                        </i-bs>
                        Voltar</button>
                </div>
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-success" [disabled]="!disciplineForm.valid">
                        <i-bs name="save" width="20" height="20">
                        </i-bs>
                        Salvar</button>
                </div>
            </div>
        </form>
    </div>




</div>

<div *ngIf="!selectedDiscipline">


    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Professor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let discipline of disciplines">
                    <th scope="row" click="alert('shush')">{{discipline.id}}</th>
                    <td>{{discipline.name}}</td>
                    <td>{{discipline.teacher.name}}</td>
                    <td>
                        <button (click)="handleDiscipline(discipline)" class="btn btn-primary me-2"><i-bs
                                name="pencil-square" width="20" height="20">
                            </i-bs>
                        </button>
                    <td>

                        <button (click)="handleShowGrades(discipline)" class=" btn btn-warning">
                            <i-bs name="list-check" width="20" height="20">
                            </i-bs>
                            Notas</button>
                        <td>
                </tr>
            </tbody>
        </table>
    </div>



</div>


<div *ngIf="selectedDiscipline && showGrades">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Prof: {{selectedDiscipline.teacher.name}} - {{selectedDiscipline.name}} </h6>
      <h6 class="border-bottom pb-2 mb-0 mt-2">Total de Alunos: {{selectedDiscipline.grades.length}}</h6>
      <div class="d-flex text-muted pt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Aluno</th>
              <th scope="col">Nota</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grade of selectedDiscipline.grades">
              <th scope="row" click="alert('shush')">{{grade.student.name}}</th>
              <td>{{grade.score}}</td>
            </tr>
          </tbody>
        </table>
       
      </div>
      
      <div class="row paper">
        <div class="col-md-auto">
          <button (click)="back()" class="btn btn-secondary">
            <i-bs name="arrow-left-circle-fill" width="20" height="20">
            </i-bs>
            Voltar</button>
        </div>
      
      </div>
    </div>
  
  
  </div>